<div class="container">
  <div class="page-header">
    <h1>ESLint Reports
      <small>by file, by rule and overall</small>
    </h1>
  </div>

  <p>
    {{#link-to "reports" classNames="btn btn-info" tagName="button"}}Reports{{/link-to}}
    {{#link-to "files" classNames="btn btn-info" tagName="button"}}Files{{/link-to}}
    {{#link-to "rules" classNames="btn btn-info" tagName="button"}}Rules{{/link-to}}
  </p>

  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
  {{outlet}}
</div>
