<div class="container">
  <div class="page-header">
    <h1>ESLint Reports
      <small>by file, by rule and overall</small>
    </h1>
  </div>

  {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
  {{outlet}}
</div>
