<h3>{{model.name}}</h3>
<p>{{model.description}}</p>

<ul class="nav nav-tabs">
  {{#link-to "projects.project.reports" model tagName="li"}}
    {{#link-to "projects.project.reports" model}}
      Reports
    {{/link-to}}
  {{/link-to}}
  {{#link-to "projects.project.files" model tagName="li"}}
    {{#link-to "projects.project.files" model}}
      Files
    {{/link-to}}
  {{/link-to}}
  {{#link-to "projects.project.rules" model tagName="li"}}
    {{#link-to "projects.project.rules" model}}
      Rules
    {{/link-to}}
  {{/link-to}}
</ul>

{{outlet}}
