<p>
  {{#link-to "projects.project.reports" model.id classNames="btn btn-info" tagName="button"}}Reports{{/link-to}}
  {{#link-to "projects.project.files" model.id classNames="btn btn-info" tagName="button"}}Files{{/link-to}}
  {{#link-to "projects.project.rules" model.id classNames="btn btn-info" tagName="button"}}Rules{{/link-to}}
</p>

{{outlet}}
