{{#if codeWithTooltips.length}}
  <p><button class="btn btn-default tooltips-toggler" {{action "toggleTooltips"}}>Show/Hide Errors and Warnings</button></p>
  <div class="file-content">
    <ol>
      {{#each codeWithTooltips as |line|}}
        <li><code>{{{line}}}</code></li>
      {{/each}}
    </ol>
  </div>
{{/if}}